.perf-pane {
  overflow: hidden;
  width: 100%;
  flex: 1;
  display: flex;
  padding: 5px;
  padding-top: 0;
  background: var(--light-gray-color);
}

.perf-chart {
  height: 100%;
  min-width: 0px;
  flex-grow: 1;
  display: flex;
  padding: 2px;
  padding-top: 0;
  background: var(--light-gray-color);
  display: flex;
  flex-direction: column;
}

.chart {
  flex: auto;
  width: 100%;
  position: relative;
}
