.dataflow-pane {
  overflow: auto;
  width: 100%;
  display: flex;
  padding: 5px;
  padding-top: 0;
  background: var(--light-gray-color);
}

.perf-chart {
  display: flex;
  flex-direction: column;
}
